@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Jost-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Jost-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Jost-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Jost-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Archivo;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Archivo-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-display: swap;
}
