<header class="header">
  <div class="header__container container">
    <img class="logo header__logo" src="/logo.png" alt="Логотип" width="126" height="50" />
    <div class="header__wrapper">
      <nav class="navigation">
        <li class="navigation__item">
          <a href="" class="navigation__link">Cafe Menu</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">About Us</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Find Us</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Alowishus Catering</a>
        </li>
      </nav>
      <div class="shop-buttons">
        <a href="" class="shop-buttons__cart cart">
          <img class="cart__icon" src="/cart.svg" alt="Корзина" width="20" height="19,5"/>
        </a>
        <a href="" class="shop-buttons__vouchers btn">Buy gift vouchers</a>
      </div>
    </div>
  </div>
</header>
