---
import { Image } from "astro:assets";
import OrderImage from "../images/order-bg.png"
---

<section class="order">
  <div class="order__container container">
    <div class="order__image-wrapper">
      <Image src={OrderImage} alt="Три стаканчика" class="order__image"/>
    </div>
    <div class="order__wrapper">
      <h2 class="title order__title">Order Your Favourite Coffee</h2>
      <p class="text order__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <a href="" class="order__link btn">Order Now</a>
    </div>
  </div>
</section>
