<section class="products">
  <div class="products__container container">
    <h2 class="title">Explore Our Alowishus</h2>
    <p class="text">A drink from the ‘My Alowishus’ bottled brews range OR grab one of our delicious coffee’s.</p>
    <div class="products__wrapper">
      <ul class="products-list">
        <li class="products-item">
          <h3 class="products__title">Our Catering</h3>
          <p class="products-item__text text">Alowishus Catering, delicious drop off Catering</p>
          <img src="/products-1.svg" class="products__image" alt="">
          <a href="" class="products__link btn">Order cathering</a>
        </li>
        <li class="products-item">
          <h3 class="products__title">The Food</h3>
          <p class="products-item__text text">Our entire menu is available as dine in or takeaway.</p>
          <img src="/products-2.svg" class="products__image" alt="">
          <a href="" class="products__link btn">food menu</a>
        </li>
        <li class="products-item">
          <h3 class="products__title">The Gelato</h3>
          <p class="products-item__text text">Life is like GELATO, enjoy it before it melts.</p>
          <img src="/products-3.svg" class="products__image" alt="">
          <a href="" class="products__link btn">Discover more</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="scss">

  @media (width <= 575px) {
    .products {
      &-list {
        flex-direction: column;
      }
    }
  }
</style>
